{% extends "base.html" %}

{% block content %}
<!-- Mesajları üstte ve ortada göster -->
{% if messages %}
    <div class="alert">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}

<div class="cart-container" style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center; height: 80vh; margin-top: 50px; text-align: center;">
    <h2>Sepetim</h2>
    {% if cart.cartitem_set.all %}
    <ul style="list-style: none; padding: 0; text-align: left;">
        {% for item in cart.cartitem_set.all %}
            <li style="display: flex; align-items: center; margin-bottom: 10px;">
                <span style="margin-right: 10px;">
                    {{ item.product.name }} - {{ item.quantity }} adet - {{ item.product.price }} ₺  
                </span>
                
                <!-- Miktarı Azalt Formu -->
                <form method="post" action="{% url 'decrease_quantity' product_id=item.product.id %}" style="margin-right: 10px;">
                    {% csrf_token %}
                    <button type="submit">↓</button>
                </form>

                <!-- Miktarı Arttır Formu -->
                <form method="post" action="{% url 'increase_quantity' product_id=item.product.id %}" style="margin-right: 10px;">
                    {% csrf_token %}
                    <button type="submit">↑</button>
                </form>

                <!-- Sepetten Çıkar Formu -->
                <form method="post" action="{% url 'remove_from_cart' item.product.id %}">
                    {% csrf_token %}
                    <button type="submit">Sepetten Çıkar</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <p>Toplam Tutar: {{ cart.total_price }} ₺</p>
    <a href="{% url 'create_order' %}">Siparişi Tamamla</a>
    {% else %}
    <p>Sepetiniz boş.</p>
    {% endif %}
</div>

{% endblock %}
